<div style="margin-top: 12px !important;">
  <a href="https://github.com/feedtxt">Feed.TXT @ GitHub</a>
</div>
  
<!--
   try adding github star button 
  -->

 <!--
<a class="github-button" href="https://github.com/feedtxt/feedtxt.github.io"
    data-icon="octicon-star"
    data-count-href="/feedtxt/feedtxt.github.io/stargazers"
    data-count-api="/repos/feedtxt/feedtxt.github.io#stargazers_count"
    data-count-aria-label="stargazers on GitHub"
    aria-label="Star feedtxt/feedtxt.github.io on GitHub">Star</a>
  -->
  
<!-- GitHub Buttons
   Place this tag right after the last button or just before your close body tag.
    see https://buttons.github.io
  -->
  <!--
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>  
 -->
